/*

TODO:

- overflow
- print styles
- create test page with all of these used
- minify for export
- remove hyphenate for ...
	X form labels?
	X *:before and *:after?
	X links? because they might have long URLS
	- links in a print style which shows an :after element with the link URL?
- smallcaps for <abbr>
√ all prefixed styles should be mixins
- list all options in comments
√ variablize all numbers, etc.
- oldstyle figures in body text, lining in headers, tabular in tables
- full words, e.g. "discretionary" in font-feature mixin
- README.md
- git this up
X form elements
- figures
- mixin for font size change with responsive
- icon-fonts with :before or :after need to be unaffected
- possible to remove some things with sans-serif faces?
- mixin for italic or all-caps?
*/

/* References:

http://typeplate.com
http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
http://www.microsoft.com/typography/otspec/featurelist.htm

*/

// Mixins

$prefixes: ("-webkit-","-moz-", "-o-", "-ms-", "");
@mixin prefix($property, $value) { 
	@each $prefix in $prefixes {
		#{$prefix}#{$property}: #{$value};
	}
}

@mixin hyphenate($hyphenation:"auto") {
	// options: manual | none | auto
	// default: manual

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;	// Non standard for webkit browsers

	@include prefix(hyphenate, #{$hyphenation});

	-ms-hyphenate-limit-chars: 6 5 3;
	hyphenate-limit-chars: 6 5 3;

	-ms-hyphenate-limit-zone: 3em;
	hyphenate-limit-zone: 3em;

	-webkit-hyphenate-before: 5;
	-webkit-hyphenate-after: 3;
	hyphenate-lines: 2;

	hyphenate-limit-last: always;
}

@mixin tab-size($characters:4) {
	// options: <integer>
	// default: 8

	@include prefix(tab-size, #{$characters});
}


@mixin text-align-last($last-line:start) {
	// options: auto | start | end | left | right | center | justify
	// default: auto

	// rtl justified text won't be on the wrong side
	@include prefix(text-align-last, #{$last-line});
}

@mixin force-wrap {
	// http://compass-style.org/reference/compass/typography/text/force-wrap/
  white-space: pre;  // CSS 2.0
  white-space: pre-wrap;  // CSS 2.1
  white-space: pre-line;  // CSS 3.0
  white-space: -pre-wrap;  // Opera 4-6
  white-space: -o-pre-wrap;  // Opera 7
  white-space: -moz-pre-wrap;  // Mozilla
  white-space: -hp-pre-wrap;  // HP Printers
  word-wrap: break-word;  // IE 5+
}

@mixin font-size-adjust($adjustment) {
	// options: none | <number>

	@include prefix(font-size-adjust, #{$adjustment});
}

// SCSS

html {
	font-size:100%;
}

body {
	text-rendering: optimizelegibility;

	// hyphenate the entire page by default; we can remove this for specific elements later
	// don't forget to set the lang attribute!, e.g., <html lang="en">
	@include hyphenate; 

	// Set reasonable tab size
	@include tab-size;

	// Include standard ligatures (ff, fi, etc.)
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga" on; /* Firefox 15 */
	-ms-font-feature-settings: "liga";
	-webkit-font-feature-settings: "liga";
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	@include text-align-last;
}

h1, h2, h3, h4, h5, h6 {

	// no hyphenation for headers
	@include hyphenate("none");

	// Additional ligatures for here where the text is large enough to warrant them
	-moz-font-feature-settings: "liga=1, dlig=1";
	-moz-font-feature-settings: "liga" on, "dlig" on; /* Firefox 15 */
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";

}

// elements that shouldn't be hyphenated:

abbr,acronym,code,del,dir,kbd,keygen,listing,plaintext,samp,sub,sup,tt,var,xmp {
	@include hyphenate("none");
}
