/*

References:

http://typeplate.com
http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
http://www.microsoft.com/typography/otspec/featurelist.htm
http://www.w3.org/TR/2013/CR-css-fonts-3-20131003/
http://www.w3.org/TR/2013/WD-css-text-3-20131010/
http://www.w3.org/TR/2002/WD-css3-linebox-20020515/

*/

// Includes

@import "typography/utilities";
@import "typography/hyphenate";
@import "typography/tab-size";
@import "typography/text-align-last";
@import "typography/force-wrap";
@import "typography/font-size-adjust";

//

html {
	font-size:100%;
}

body {
	text-rendering: optimizelegibility;

	// hyphenate the entire page by default; we can remove this for specific elements later
	// don't forget to set the lang attribute!, e.g., <html lang="en">
	@include hyphenate; 

	// Set reasonable tab size
	@include tab-size;

	// Include standard ligatures (ff, fi, etc.)
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga" on; /* Firefox 15 */
	-ms-font-feature-settings: "liga";
	-webkit-font-feature-settings: "liga";
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	@include text-align-last;
}

// no hyphenation for headers
h1, h2, h3, h4, h5, h6 {

	@include hyphenate("none");

	// Additional ligatures for here where the text is large enough to warrant them
	-moz-font-feature-settings: "liga=1, dlig=1";
	-moz-font-feature-settings: "liga" on, "dlig" on; /* Firefox 15 */
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";

}

// no hyphenation for these elements

abbr,acronym,code,del,dir,kbd,keygen,listing,plaintext,samp,sub,sup,tt,var,xmp {
	@include hyphenate("none");
}
