@mixin hyphenate($hyphenation:"auto") {
	// options: manual | none | auto
	// default: manual

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;	// Non standard for webkit browsers

	@include prefix(hyphenate, #{$hyphenation});

	-ms-hyphenate-limit-chars: 6 5 3;
	hyphenate-limit-chars: 6 5 3;

	-ms-hyphenate-limit-zone: 3em;
	hyphenate-limit-zone: 3em;

	-webkit-hyphenate-before: 5;
	-webkit-hyphenate-after: 3;
	hyphenate-lines: 2;

	hyphenate-limit-last: always;
}
