@mixin hyphenate($hyphenation:"auto", $min-word-length:6, $min-before:3, $min-after:3, $max-lines:2) {
	// options: manual | none | auto
	// default: manual

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;	// Non standard for webkit browsers

	@include prefix(hyphenate, #{$hyphenation});

	@if $hyphenation != none {
		// 6 char word limit, 5 char before, 3 char after
		-ms-hyphenate-limit-chars: $min-word-length $min-before $min-after;
		hyphenate-limit-chars:  $min-word-length $min-before $min-after;

		-ms-hyphenate-limit-zone: #{$min-before}ex;
		hyphenate-limit-zone: #{$min-before}ex;

		-webkit-hyphenate-before: $min-before;
		-webkit-hyphenate-after: $min-after;
		
		-webkit-hyphenate-lines: $max-lines;
		-ms-hyphenate-lines: $max-lines;
		hyphenate-lines: $max-lines;
		hyphenate-limit-last: always;
	}
}